<!doctype html>
<html>
	<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<title>Vue - Time Tracker</title>

    <style>

body {
  font-family: Helvetica;
  margin: 2em;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.fake-link {
  cursor: pointer;
}

#notification-message {
  /* div */
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  min-height:3em;

  /* border */
  border: 1px solid black;
  border-radius: 5px;

  /* text */
  text-align: center;
  font-weight: bold;
  color: beige;
  display: inline-block;
  line-height: 3em;
}

/* vue transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .6s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

    </style>

	</head>
	<body>
    <h1 style="text-align: center; margin-bottom: 1em;">Vue - Time Tracker</h1>

    <div id="app">

      <time-tracker></time-tracker>

      <transition name="fade">
      <div id="notification-message" v-if="showNotificationMessage" :style="notificationStyle">Test Message</div>
      </transition>

    </div>

  <script>

"use strict";

// html elements
let startButton = document.getElementById('timer__start-button');
let pauseButton = document.getElementById('timer__pause-button');
let resumeButton = document.getElementById('timer__resume-button');
let stopButton = document.getElementById('timer__stop-button');
let resetButton = document.getElementById('timer__reset-button');

Vue.component('time-tracker', {
  data: function () {
    return {
      currentTime: 0,
      elapsedSeconds: 0,
      polling: null,
      formattedTimer: '00:00:00',

      timer: {
        id: undefined,
        startTime: 0,
        stopTime: 0,
        lastUpdateTime: 0,
        runSeconds: 0,
        pauseSeconds: 0,
        isRunning: false
      },

      startButtonDisabled: false,
      pauseButtonDisabled: true,
      resumeButtonDisabled: true,
      stopButtonDisabled: true,
      resetButtonDisabled: true,

      showDebugInfo: false,
    };
  },
  template: `
    <div class="timer" style="margin-bottom: 2em;">
      <div id="timer-buttons">
        <button id="timer__start-button" @click="startTimer()" :disabled="startButtonDisabled">start</button>
        <button id="timer__pause-button" @click="pauseTimer()" :disabled="pauseButtonDisabled">pause</button>
        <button id="timer__resume-button" @click="resumeTimer()" :disabled="resumeButtonDisabled">resume</button>
        <button id="timer__stop-button" @click="stopTimer()" :disabled="stopButtonDisabled">stop</button>
        <button id="timer__reset-button" @click="resetTimer()" :disabled="resetButtonDisabled">reset</button>
        <button id="timer__toggle-debug" @click="showDebugInfo = !showDebugInfo">show/hide debug</button></p>
      </div>

      <div id="timer" style="margin-top: 2em;">{{ formattedTimer }}</div>

      <div id="server-stuff" v-if="timer.startTime">
        <p class="bold fake-link" @click="uploadToServer(timer)">Upload to server</p>
      </div>

      <div id="debug-info" v-show="showDebugInfo" style="margin-top: 2em;">
        <p>id: {{ timer.id }}</p>
        <p>startTime: {{ timer.startTime }}</p>
        <p>stopTime: {{ timer.stopTime }}</p>
        <p>lastUpdateTime: {{ timer.lastUpdateTime }}</p>
        <p>runSeconds: {{ timer.runSeconds }}</p>
        <p>pauseSeconds: {{ timer.pauseSeconds }}</p>
        <p>isRunning: {{ timer.isRunning }}</p>
      </div>

    </div>`,

  methods: {
    // server logic
    uploadToServer: function () {
      ;
    },
    // timer logic
    startTimer: function () {
      if (this.timer.isRunning) {return undefined;}
      this.timer.startTime = performance.now();
      this.timer.lastUpdateTime = this.timer.startTime;
      this.timer.isRunning = true;

      // COPY THIS TO OTHER METHODS
      this.polling = setInterval(() => {return this.updateDisplay()}, 200);
      this.disableButtons(['start', 'resume', 'reset']);
    },
    pauseTimer: function () {
      if (this.timerIsStopped() || this.timerIsPaused()) {return undefined;}
      this.timer.runSeconds += this.getSecondsSinceLastUpdate();
      this.timer.isRunning = false;
      this.timer.lastUpdateTime = performance.now();

      // clear the timer method to prevent memory leaks
      // COPY THIS TO OTHER METHODS
      clearInterval(this.polling);

      this.updateDisplay()
      this.disableButtons(['start', 'pause', 'reset']);
    },
    resumeTimer: function () {
      if (this.timer.isRunning) {return false;}
      this.currentTime = performance.now()
      this.elapsedSeconds = this.getSecondsSinceLastUpdate();
      this.timer.lastUpdateTime = this.currentTime;
      this.timer.stopTime = 0;
      this.timer.isRunning = true;

      this.updateDisplay()
      this.disableButtons(['start', 'resume', 'reset']);
    },
    stopTimer: function () {
      if (this.timerIsStopped()) {return undefined;}
      else if (this.timerIsPaused()) {this.timer.pauseSeconds += this.getSecondsSinceLastUpdate();}
      else if (this.timer.isRunning) {this.timer.runSeconds += this.getSecondsSinceLastUpdate();}
      this.timer.stopTime = performance.now();
      this.timer.lastUpdateTime = this.timer.stopTime;
      this.timer.isRunning = false;

      this.updateDisplay()
      this.disableButtons(['start', 'pause', 'stop']);
    },
    resetTimer: function () {
      this.timer.startTime = 0;
      this.timer.stopTime = 0;
      this.timer.lastUpdateTime = 0;
      this.timer.runSeconds = 0;
      this.timer.pauseSeconds = 0;

      this.updateDisplay()
      this.disableButtons(['pause', 'resume', 'stop', 'reset']);
    },
    getSecondsSinceLastUpdate: function () {
      return Math.floor((performance.now() - this.timer.lastUpdateTime) / 1000);
    },
    timerIsPaused: function () {
      if (this.timer.lastUpdateTime !== this.timer.stopTime && !this.timer.isRunning) {return true;}
      else {return false;}
    },
    timerIsStopped: function () {
      if (this.timer.lastUpdateTime === this.timer.stopTime && !this.timer.isRunning) {return true;}
      else {return false;}
    },
    getUUID: function () {
      return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
        (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
      );
    },
    // user interface
    zeroPadder: function (yourNumber, minLength=2) {
      // get the minimum length of the result
      let sliceLength = minLength;
      let numLength = String(yourNumber).length;
      if (numLength > minLength) {sliceLength = numLength;}
      
      // create a string of zeroes
      let zeroString = '';
      for (let i = 0; i < sliceLength; i++) {zeroString += '0';}
      
      // return a string that is at least the length of minLength
      return (zeroString + String(yourNumber)).slice(numLength);
    },
    getFormattedTime: function () {
      // get elapsed time
      if (this.timer.isRunning) {this.elapsedSeconds = this.getSecondsSinceLastUpdate() + this.timer.runSeconds;}
      else {this.elapsedSeconds = this.timer.runSeconds;}

      let seconds = this.elapsedSeconds % 60;
      let minutes = Math.floor((this.elapsedSeconds / 60) % 60);
      let hours = Math.floor(this.elapsedSeconds / 3600);

      return this.zeroPadder(hours) +':'+ this.zeroPadder(minutes) +':'+ this.zeroPadder(seconds);
    },
    updateDisplay: function () {
      this.formattedTimer = this.getFormattedTime();
    },
    disableButtons: function (buttonsToDisable) {
      if (buttonsToDisable.includes('start')) {
        this.startButtonDisabled = true;
      } else {
        this.startButtonDisabled = false;
      }
      if (buttonsToDisable.includes('pause')) {
        this.pauseButtonDisabled = true;
      } else {
        this.pauseButtonDisabled = false;
      }
      if (buttonsToDisable.includes('resume')) {
        this.resumeButtonDisabled = true;
      } else {
        this.resumeButtonDisabled = false;
      }
      if (buttonsToDisable.includes('stop')) {
        this.stopButtonDisabled = true;
      } else {
        this.stopButtonDisabled = false;
      }
      if (buttonsToDisable.includes('reset')) {
        this.resetButtonDisabled = true;
      } else {
        this.resetButtonDisabled = false;
      }
    }
  }
});

var app = new Vue({
  el: '#app',
  data: {
    activityList: 'http://192.168.1.120:8000/api/v1/users/1/activities/',
    result: undefined,
    showNotificationMessage: false,
    notificationStyle: {
      backgroundColor: '#0099CC'
    },
  },
  computed: {
    activities: function () {
      this.fetchData(this.activityList);
      return this.result;
    }
  },
  methods: {
    fetchData: function(url) {
      fetch(url)
        .then(response => response = response.json())
        .then(data => this.result = data);
    },
    timerActivityStarted: function(timerId) {
      return document.getElementById('timer-' + String(timerId));
    },
    getActivityElementId: function(activityId) {
      return 'activity-id-' + String(activityId);
    },
    startTimerActivity: function(activityId) {
      let timerElement = document.createElement('time-tracker');
      let el = document.getElementById('activity-id-' + String(activityId));
      el.appendChild(timerElement);
    }
  }
});

  </script>

	</body>
</html>
